body, ul{
    margin: 0px;
    padding: 0px;
}
a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover{
    background: rgba(0, 0, 0, 05);
}
#logo{
    font-size: 1.5rem;
    font-weight: bold;
}
#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
    padding: .5rem;
}
#btn-mobile{
    display: none;
}
